@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

section{
    width: 400px;
    padding: 30px;
    position: relative;
}

section::after{
    content: '';
    border-top: 3px solid #d35400;
    border-bottom: 3px solid #d35400;
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    box-sizing: border-box;
    z-index: -1;
}

section:hover::after{
    transform: scale(1);
}

section::before{
    content: '';
    border-left: 3px solid #d35400;
    border-right: 3px solid #d35400;
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: -1;
}

section:hover::before{
    transform: scale(1);
}

.login{
    background-color: #e67e22;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 35px;
    color: #ecf0f1;
    font-weight: 700;
    letter-spacing: 2px;
    margin: auto;
    margin-bottom: 40px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

}

section h2{
    text-align: center;
}

div{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

div:focus-within label{
    color: #e67e22;
}

div input{
    width: 100%;
    outline: none;
    padding: 10px 10px 10px 60px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #95a5a6;
    font-size: 20px;
    border-radius: 5px;
}

div input::placeholder{
    color: #ddd;
    text-transform: capitalize;
}

div label{
    position: absolute;
    top: 0;
    left: 0;
    color: #95a5a6;
    width: 60px;
    height: 100%;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: #333;
    font-size: 18px;
    text-align: center;
}

p:hover{
    color: #e67e22;
}

/* pour la sortir du flux et la cacher */
input[type="checkbox"]{
    display: none;
}

/* reconstitution de la case checkbox */
.checkbox::before{
    content: '';
    width: 16px;
    height: 16px;
    background-color: #e1e1e1;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding: 1px;
    cursor: pointer;
}

/* pour cocher notre case */
input[type="checkbox"]:checked + .checkbox::before{
    /* crée un visuel check au clic */
    content: '\002713';
    background-color: #e67e22;
    border-color: #e67e22;
    text-align: center;
    color: #fff;
}

button{
    margin-top: 20px;
    padding: 15px;
    width: 200px;
    margin: auto;
    display: block;
    background-color: #e67e22;
    border: none;
    font-size: 40px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
    color: #ecf0f1;
    transition: 0.6s;
}

button:hover{
    background-color: #000;
    color: #e67e22;
}

a{
    color: #d35400;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    text-decoration: underline;
}

.error{
    background-color: #f00;
    color: #fff;
    padding: 10px 0;
}

p.error:hover{
    color: #fff;
}

