/* avantage SVG : vectoriel et non en pixel et grande main mise dessus */

body {
    background: radial-gradient(circle at bottom, #9fb8d1 0%, #0c1753 100%);
    height: 100vh;
    overflow: hidden;
    /* pour cacher les scrollbar */

    /* puis pour centrer sur la page */
    display: flex;
    justify-content: center;
    align-items: center;
}

circle {
    /* fill = bg */
    fill: none;
    /* stroke = border (coup de crayon de contour) */
    stroke: #fff;
    /* stroke-width = largeur contour */
    stroke-width: 10px;
    /* stroke-dasharray = pointillé (100px plein, 100px vide) */
    stroke-dasharray: 100 100;
    /* stroke-dashoffset = décaler vers la droite de 70 */
    stroke-dashoffset: 70;
    animation: rotation 2000ms ease-in-out alternate infinite;
}

svg {
    transform: translateX(-50px);
    /*  filter: permet d'appliquer des filtres (pour créer son double) */
    /* ombre shadow, décale de 100px sans appliquer de blur*/
    filter: drop-shadow(100px 0 #00ccff)
}

@keyframes rotation {
    0%{
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
    }
    100%{
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
    }
}