body{
    margin: 0;
    height: 100vh;
}
header{
    background-color: lightskyblue;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.road{
    position: absolute;
    bottom: 0;
    height: 170px;
    background-color: #555;
    width: 100%;
}
.lines-middle{
    background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 200px 2px;
    background-repeat: repeat-x;
    height: 6px;
    position: absolute;
    width: 100%;
}
.middle-top{
    background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 200px 2px;
    background-repeat: repeat-x;
    height: 6px;
    position: absolute;
    bottom: 6px;
    width: 100%;
}
.bushes{
    background-image: url('bushes.png');
    height: 79px;
    position: absolute;
    bottom: 170px;
    width: 100%;
}

.mario{
    position: absolute;
    top: -60px;
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: both;
    /* forwards : quand l'animation est terminé on reste sur le dernier état */
    /* backwards (comme none) : quand l'animation est terminé on reste sur le premier état */
    /* both : pour activer les 2 */
    animation-delay: 0s;
    /* commence au bout de  */

    animation-iteration-count: infinite;
    /* pour répéter l'animation à l'infini, peut être remplacé par une valeur en dure ex:2 */

    animation-direction: normal;

    animation-timing-function: linear;

    /* Source courbe de bézier : https://cubic-bezier.com/#.17,.67,.83,.67  */
}

.luigi{
    position: absolute;
    top: 20px;
    animation-name: drive;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    /* la direction normal se base sur le keyframes : il va de from vers to */
    /* la direction reverse se base sur le keyframes : il va de to vers from */
    /* la direction alternate se base sur le keyframes : il va de from vers to puis de to vers from */
    /* la direction alternate-reverse se base sur le keyframes : il va de to vers from puis de from vers to  */

    animation-timing-function: linear;
    /* animation: moveX 4s linear 0s infinite normal both; */
}

@keyframes drive{
    from{
        transform: translateX(-150px);
    }to{
        transform: translateX(2000px);
    }
}