body{
    margin: 0;
    padding: 0;
    background-color: #f5d97d;
}

#grid{
    background-color: #fff;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* COLONNE */
    /*  Mais aussi : 
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-columns: repeat (4, 1fr);
    la fonction repeat : pour synthétiser le code.
    la 1ère valeur "4" : est le nombre de fois que l'on veut répéter.
    la 2ème valeur "1fr" : est la taille.

    Autre syntaxe : 
    grid-template-columns: repeat (2, 100px 200px);
    la 1ère valeur "2" : est le nombre de fois que l'on veut répéter.
    la 2ème valeur "100px" : est la première taille.
    la 3ème valeur "200px" : est la second taille.
    donc la grille affichera :
    grid-template-columns: 100px 200px 100px 200px;

    Les fonctions : 
    repeat, auto, 

    Changer un ordre : 
    grid-auto-flow : row; (par défaut les éléments s'affichent de droite à gauche)
    grid-auto-flow : column; ( les éléments, dans l'ordre s'affichent de haut en bas)

    Ajouter une colonne ou rangée virtuelle :
    grid-auto-rows : 100px;
    grid-auto-columns
    
    la fonction minmax
    c'est ce que l'on affecte à une valeur (parent ou/et enfant)
    grid-template-rows : 100px minmax(200px, auto) 100px;

    la propriété ordre
    par défaut tous les éléments sont à 0 
    C'est une propriété qui s'adresse aux enfants de la grid principale
    order : 1; (pour qu'il s'affiche à la fin)
    order : -1; (pour qu'il s'affiche au début)

    grid template
    raccourci grid-template-rows et grid-template-colums;


    */
    grid-template-rows: 1fr 1fr;
    /* RANGE */
    /* Mais aussi : 
    grid-template-rows: repeat (2, 1fr);
    grid-template-rows: 50% 50%;
    ATTENTION à la dernière ligne avec les valeurs en pourcentage : si on ajoute un gap, il vaut mieux utiliser l'unité de mesure "fr"" (fraction) sinon les cases sortes de la grille principale (l'enfant sort du parent)
    
    hauteur, comportement par défaut : elles vont occuper la hauteur.
    1/ soit la hauteur est déterminée par la hauteur du contenu ".un, .deux,..."
    2/ soit la hauteur du contenant "#grid" si celui-ci à une taille déterminée.*/

    
    grid-gap: 20px;
    /* GOUTTIERE */
    /* Mais aussi : 
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-gap: 20px 20px;
    la 1ère valeur : correspondant à row;
    la 2ème valeur : correspondant à column;*/
    
    
    height: 600px;
    width: 90%;
    margin: auto;
    
}

.flexbox{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}

.un{
    background-color: #fcf;
    /* Correspond à la ligne de grille (on s'adresse aux enfants de la grille)*/
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-column : 1/3; (raccourci)*/

    /* grid-row : 1/3; (raccourci)*/
    grid-row-start: 1;
    grid-row-end: 3;
    /* le mot clé : span
    grid-row-end: span 2;
    idem = on se réfère non plus aux lignes de grille mais aux rangés
     */
}
.deux{
    background-color: #f9f;
    grid-row: 1/ span 2;
    /* grid-row-start: 1;
    grid-row-end: span 2; */
}
.trois{
    background-color: #ff7eff;
}
.quatre{
    background-color: #ffcd98;
}
.cinq{
    background-color: #ffca60;
}
.six{
    background-color: #ff9f62;
}
.sept{
    background-color: #ffc501;
    grid-column: 3/span 2;
    /* grid-column-start: 3;
    grid-column-end: span 2; */
}
.huit{
    background-color: #fe9900;
    grid-row-start: 2;
    grid-row-end: 4;
}


/* exercice 2 */

#grille{
    display: grid;
    height: 600px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;

    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer"
    
    
    ;
}

header{
    background-color: #2ef1c7;
    grid-area: header;
}

main{
    background-color: #cef0e8;
    grid-area: main;
}

nav{
    background-color: #45796d;
    grid-area: nav;
}

footer{
    background-color: #09755e;
    grid-area: footer;
}

